@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

.canvasContainer {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: rgb(19, 9, 21);
}

.asd {
  background-color: red;
}

.asd :hover {
  background-color: green;
}
